@tailwind base;
@tailwind components;
@tailwind utilities;



body, #root {
    height: min-content;
    margin: 8px;
    padding: 8px;
    background: #1D1F27;
}

#root {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: verdana;
}


/* Add this to your CSS file */
@media (max-width: 640px) {
    .banner {
      padding: 1rem; /* Adjust padding for smaller screens */
    }
  
    .text {
      margin-left: 0; /* Reset margin for smaller screens */
      text-align: center; /* Center align text */
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  

  
