@tailwind base;
@tailwind components;
@tailwind utilities;



body, #root {
    height: min-content;
    margin: 0px;
    padding: 0px;
    background: #1D1F27;
}

#root {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: verdana;
}


/* Add this to your CSS file */
@media (max-width: 640px) {
    .banner {
      padding: 1rem; /* Adjust padding for smaller screens */
    }
  
    .text {
      margin-left: 0; /* Reset margin for smaller screens */
      text-align: center; /* Center align text */
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  

  .glitch {
    position: relative;
  }
  
  .glitch::before,
  .glitch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .glitch::before {
    background: rgba(255, 255, 255, 0.15);
    animation: glitch-anim 0.3s infinite linear alternate-reverse;
  }
  
  .glitch-active::after {
    background: rgba(255, 255, 255, 0.1);
    animation: glitch-anim-2 0.3s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-anim {
    0% {
      transform: translate(-2px, -2px);
    }
    100% {
      transform: translate(2px, 2px);
    }
  }
  
  @keyframes glitch-anim-2 {
    0% {
      transform: translate(2px, 2px);
    }
    100% {
      transform: translate(-2px, -2px);
    }
  }
  
