.construction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    text-align: center;
  }
  
  .animation-container {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #fff;
  }
  
  p {
    font-size: 1.25rem;
    color: #6c757d;
  }
  